#
# This node is member of the following cluster groups
#
groups = default

#
# Cluster event producer
#
producer = true

#
# Cluster event consumer
#
consumer = true

#
# Cluster event handlers
#
# bundle event handler
handler.org.apache.karaf.cellar.bundle.BundleEventHandler = true
# config event handler
handler.org.apache.karaf.cellar.config.ConfigurationEventHandler = true
# feature event handler
handler.org.apache.karaf.cellar.features.FeaturesEventHandler = true
# DOSGi event handler
handler.org.apache.karaf.cellar.dosgi.RemoteServiceCallHandler = true
# OSGi event handler
handler.org.apache.karaf.cellar.event.RemoteEventHandler = true
# OBR event handler
handler.org.apache.karaf.cellar.obr.ObrBundleEventHandler = true
handler.org.apache.karaf.cellar.obr.ObrUrlEventHandler = true